COMPOSE_PROJECT_NAME=devops

COMPOSE_PATH_SEPARATOR=:
COMPOSE_FILE=traefik/docker-compose.yml:app/docker-compose.yml:monitoring/docker-compose.yml:ai/docker-compose.yml

ADMIN_EMAIL=boriskorobkov@gmail.com

# Traefik
CF_DNS_API_TOKEN=
CF_ZONE_API_TOKEN=
CERTRESOLVER=cloudflare
BASICAUTH=

# App
DB_DATABASE=
DB_USER=
DB_PASSWORD=

# Monitoring
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=
CROWDSEC_BOUNCER_KEY=
