## HTTP URL or local path to a file with fixtures. Supported formats: .json, .json.gz, .json.tar.gz
# FILE_PATH=tests/fixtures/fixtures.json
 FILE_PATH=tests/fixtures/fixtures.json.gz
# FILE_PATH=tests/fixtures/fixtures.json.tar.gz

COUNTER_PER_POSTCODE=10120
COUNTER_PER_TIME12FROM=10AM
COUNTER_PER_TIME12TO=3PM

COUNTER_MATCH_BY_NAME="Potato, Veggie, Mushroom"
COUNTER_MATCH_BY_NAME_DELIMITER=,
